
<form [formGroup]="entradaForm" (ngSubmit)="registrarEntrada()" novalidate>
  <div>
    <label for="nombre">Nombre:</label>
    <input id="nombre" type="text" formControlName="nombre" />
    @if (entradaForm.get('nombre')?.invalid && entradaForm.get('nombre')?.touched) {
      <div style="color: red;">El nombre es obligatorio.</div>
    }
  </div>

  <div>
    <label for="codigo">Código:</label>
    <input id="codigo" type="text" formControlName="codigo" />
    @if (entradaForm.get('codigo')?.invalid && entradaForm.get('codigo')?.touched) {
      <div style="color: red;">El código es obligatorio.</div>
    }
  </div>

  <div>
    <label for="cantidad">Cantidad:</label>
    <input id="cantidad" type="number" formControlName="cantidad"  min="1"/>
    @if (entradaForm.get('cantidad')?.errors?.['required'] && entradaForm.get('cantidad')?.touched) {
      <div style="color: red;">La cantidad es obligatoria.</div>
    }
    @if (entradaForm.get('cantidad')?.errors?.['min'] && entradaForm.get('cantidad')?.touched) {
      <div style="color: red;">La cantidad debe ser mayor que 0.</div>
    }
  </div>

  <div>
    <label for="precio">Precio:</label>
    <input id="precio" type="number" formControlName="precio"  min="1"/>
    @if (entradaForm.get('precio')?.errors?.['required'] && entradaForm.get('precio')?.touched) {
      <div style="color: red;">El precio es obligatoria.</div>
    }
    @if (entradaForm.get('precio')?.errors?.['min'] && entradaForm.get('precio')?.touched) {
      <div style="color: red;">El precio debe ser mayor que 0.</div>
    }
  </div>

  <button type="submit">Registrar</button>
</form>
